<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <script src="Scripts/jquery.min.js"></script>
    <script src="Scripts/bootstrap.bundle.min.js"></script>
</head>

<body>
    ​ <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 2%;">
        <div class="navbar-header">
            <span class="navbar-text" style="font-weight: bold; font-size: x-large; font-family: Calibri;"><a href="/"
                    style="text-decoration:none">Computer Networks File System</a></span>
        </div>
    </nav>

    <div class="jumbotron">
        <h3>Please check your input, Client Id: "<%= data.clientId %>" does not exists !!</h3>
    <h5>First create client_id and then proceed with creating directory.</h5>
        
        <a href="createClient.html">Create Client-ID</a>
        <hr>
       
    </div>
</body>